/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}
/* https://unpkg.com/plyr@3/dist/plyr.css */
@import url('https://fonts.googleapis.com/css?family=Creepster|Lacquer|Roboto&display=swap');

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  background-image:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3631292/prayyy.jpg');
  font-size:20px;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  padding-left:10px;
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
  font-size:60px;
  font-family: 'Creepster', cursive;
  
}

.info {
  position:absolute;
  right:150px;
  top: 150px;
  width:30%;
}

blockquote {
  font-size:30px;
  font-family: 'Lacquer', sans-serif;
}

section {
  width: 50%;
}

img {
  width: 200px;
  height: 100px;
  
}

.cast {
  display:flex;
  flex-wrap:wrap;
  color:rgb(139, 0, 0)
  
}

aside {
  text-align:left;
  color:rgb(77, 77, 77);
}
a{
  color:rgb(77, 77, 77);
  text-decoration:none;
}

.plyr--full-ui input[type="range"] {
  color: #09ff5e;
}

.plyr__time {
  font-size: 40px;
}

.plyr button {
  color: rgb(102, 0, 0);
}

.plyr--full-ui input[type="range"] {
  color:rgb(102, 0, 0);
}

.plyr--video .plyr__controls {
    color: rgb(153, 0, 0);
  font-size: 2em;
}

.plyr--video .plyr__control:hover {
  background: red;
}

@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
       main{
      background-size:100% 100%;
    }
    
       .info {
  position:absolute;
  right:129px;
  top: 110px;
  width:20%;
  color:gray;
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    main{
      background-size:100% 100%;
    }
    .info {
  position:absolute;
  right:80px;
  top: 110px;
  width:30%;
}   
}
